:root{
  --bg-color: #362F4F;
  --text-color: #9f82f5;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #362F4F;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text-color);
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

.square{
  background-color: rgb(255, 255, 255);
  padding: 35px;
  margin: 10px;
  border-radius: 20px;
  background-color: #615882;
}

#resetButton{
  transition: all 0.2s ease-in-out;
  background-color: var(--text-color);
  padding: 10px;
  padding-left: 50px;
  padding-right: 55px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

#resetButton:hover{
  background-color: #615882;
}

#layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


